<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Make Better Ads</title>
    <meta
      name="description"
      content="An very basic example of how to use the Wookmark jQuery plug-in."
    />
    <meta name="author" content="Christoph Ono, Sebastian Helzle" />

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- CSS Reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU="
      crossorigin="anonymous"
    />

    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <!-- Global CSS for the page and tiles -->
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div style="max-width: 1440px; margin: 0 auto;">
      <template id="content-template">
          <div style="margin:1rem;">
            <img
              id="image"
              style="width: 100%; text-align: center;"
              src="https://4.img-dpreview.com/files/p/articles/5081755051/0652566517.jpeg"
              alt=""
            />
          </div>
      </template>

      <template id="section-template">
          
      <div style="margin: 4rem;"></div>

      <div>
        <h2 class="title" id="title1">Slack - 4 images</h2>
        <div class="row">
          <div class="column" id="column0">
            <div style="max-width: 95%; margin: 1rem auto;">

            </div>
          </div>
          <div class="column" id="column1">
            <div style="max-width: 95%; margin: 1rem auto;">

            </div>
          </div>
          <div class="column" id="column2">
            <div style="max-width: 95%; margin: 1rem auto;">

            </div>
          </div>
          <div class="column" id="column3">
            <div style="max-width: 95%; margin: 1rem auto;">

            </div>
          </div>
        </div></div>
      </template>

      <!-- Header -->
      <div class="header">
        <nav class="navbar navbar-light bg-light justify-content-between">
          <a class="navbar-brand">Make Better Ads</a>
          <form class="form-inline">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Spotify"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"
                  >Search Brand</span
                >
              </div>
            </div>
          </form>
        </nav>

        <div class="row">
          <div class="col-md-12">
            <div
              class="hero"
              style="margin: 3rem; padding: 2rem; text-align: center;"
            >
              <h1 style="font-weight: 400;">
                Design better ads by learning from the best
              </h1>
              <p>
                Browse through a curated collection of highly effective ads from
                major saas companies
              </p>
              <button class="btn btn-primary">Join now</button>
            </div>
          </div>
        </div>
      </div>

      <hr />
      <div style="margin: 4rem;"></div>

      <div class="container1"></div>

      <!-- <h2 class="category-title">Slack - 4 images</h2>
      <div class="row">
        <div class="column column0" id="" style=""> <div style="max-width:330px;margin:1rem auto;">
      </div>
    </div>
        <div class="column column1" id=""> <div style="max-width:330px;margin:1rem auto;">
      </div>
    </div>
        <div class="column column2" id=""> <div style="max-width:330px;margin:1rem auto;">
      </div>
    </div>
        <div class="column column3" id=""> 
    </div>
      </div>
       -->

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">

                  var data = <%- data %>;

                $(document).ready(function() {

                    function supportsTemplate() {
                return $("#content-template").html();
              }
              if (supportsTemplate()) {
                console.log("working", data.length);


                console.log(data);

      data = data.reduce(function (r, a) {
        // if entry already exists, leave it be, else initialize one
      r[a.company] = r[a.company] || [];
      r[a.company].push(a);
      return r;
      }, []);

      console.log(data);

      for (let company in data) {
                  var sections = $("#section-template").html();
                  var sectionEntry = $($.parseHTML(sections));
                  title = sectionEntry.find("#title1")
                  console.log(title);
                  title.text(company + " - " + data[company].length + " images");


                  for (const [i, v] of data[company].entries()){
                    var content = $("#content-template").html();
                    var entry = $($.parseHTML(content));
                    contents = entry.find("#image").attr("src", v.image);
                    column = sectionEntry.find("#column" + i%4 + "> div")
                    // console.log(i%4);
                    column.append(entry)
                  }
                    $(".container1").append(sectionEntry)

      }



                // for (var i = 0; i < data.length; i++) {
                //   var contents = $("#section-template").html();
                //   var entry = $($.parseHTML(contents));


                //   contents = entry.find("#image").attr("src", data[i].image);
                //   // $(".column" + i%4).append(entry);

                // }
              } else {
                console.log("No support for template tag.");
              }
            });
    </script>
  </body>
</html>
