<!DOCTYPE html>
<html lang="en">
<head>
  <title>Make Better Ads</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/landing.css">
</head>
<body>
    <div class="container-fluid" style="position: relative;">
        <div class="row" style="text-align: center;">
          <div class="col-lg-12" style="">
            <div style="position: relative;">
              
            <!-- <img style="overflow: none;" src="./images/landing.png" alt=""> -->

            <div class="info" style="">
                <img src="./images/logo-w.png" width="86px" style="margin:4rem 4rem 4rem 0;" alt="">
                <p style="font-size: 1rem;font-weight: bold;">BETA VERSION IN A FEW DAYS!</p>
                  <h1>Design better ads by learning from the best</h1>
                  <p>Browse through a curated collection of highly effective Facebook ads from major brands like Spotify, Starbucks and Apple.</p>
                  <p style="margin: 0rem;">You can improve your CAC by 55% with better ad copy.</p>
                <div style="margin:4rem 4rem 4rem 0">
                    
                    <button><a href="https://docs.google.com/forms/d/e/1FAIpQLSeMo6lRD0ZEJlsjaIox_Ne_anzugfgIb0StncPkqbgo0AaSrA/viewform" class="button" style="color: white;">Request Access (1 min)</a></button>
                    
                    <!-- <a href="">Interested? Sign Up to get early access →</a> -->
                </div>
            </div>

            <img style="border: 8px solid white; border-radius: 8px; margin: 3rem auto; box-shadow: 0 16px 40px -4px rgba(36, 18, 77, .2); width: 1000px;" src="images/makebetterads.png" alt="Screenshot of the Page Flows user flow library">
          </div>
        </div>

        
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
